<header class="ui-header">
  <div class="ui-header__row">
    <button class="ui-button ui-button--icon ui-drawer--handle" (click)="__global.drawer.open()">
      <i class="material-icons">menu</i>
    </button>
    <span class="ui-header__title">[[title]]</span>
  </div>
</header>

<form class="ui-padding" (submit)="doLogin(evt)"  >
  <ui-textfield id="inpit" label="Username" value="{{username}}"></ui-textfield>

  <!-- <ui-reveal>
    <ui-textfield label="Password" type="password" value="{{password}}"></ui-textfield>
  </ui-reveal> -->

  <button class="ui-button ui-button--block ui-button--colored">Login</button>
</form>


<hr>

<div class="ui-padding" style="text-align: center">
  <button class="ui-button ui-button--block ui-button--colored">
    Facebook
  </button>
  <br>
  <br>
  <button class="ui-button ui-button--block ui-button--raised">Google</button>
  <br>
  <br>
  <p>Don't have account? <a href="#!/register">Register</a></p>
</div>

<a href="" (click)="doClick(evt)">Click Me </a>
<div>[[username]]</div>
<div>[[password]]</div>

<xin-for items ="[[data]]" as="item" indexas="index">
  <template>
    <!-- <div>[[index]]</div>
    <div>[[_computingNama(item)]]</div>
    <div>[[_computingAlamat(item)]]</div> -->
    <div>[[item.name]]</div>
  </template>
</xin-for>
