dio-profile {
  .profile {
    .profile__image {
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
      }
    }
  }
}
