<div class="ui-layout ui-layout--v">
	<header class="ui-header">
	  <div class="ui-header__row">
	    <button class="ui-button ui-button--icon ui-drawer--handle" (click)="__global.drawer.open()">
	      <i class="material-icons">menu</i>
	    </button>
	    <span class="ui-header__title">[[title]]</span>
	  </div>
	</header>
	<div class="ui-scroll">
		<div class="ui-padding ui-flex ui-layout ui-layout--wrap">
			<form class="ui-padding" (submit)="doFilter(evt)"  >
			  <ui-textfield label="User Name" value="{{text}}"></ui-textfield>
			  <button class="ui-button ui-button--block ui-button--colored">Filter</button>
			</form>
			<table border="1" style="background-color: grey; color: white">
				<tr>
		    		<td>Nama User</td>
		    	</tr>
			</table>
			<xin-for items ="[[data]]" as="item">
			  <template>
			    <table border="1">
			    	<tr>
			    		<td>[[item.first_name]]</td>
			    	</tr>
			    </table>
			  </template>
			</xin-for>
		</div>
	</div>
</div>