dio-home {
  ui-slides {
    .swiper-container {
      display: block;
      height: 250px;
      width: 100%;
    }

    .swiper-slide {
      background-color: #ccc;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        display: block;
        padding: 2px 10px;
        margin: 0;
        font-weight: 300;
        color: #fff;
        font-size: 25px;
        background-color: rgba(0,0,0,.5);
        border-radius: 25px;
      }
    }

  }

  .col30 {
    width: 30%;
    display: inline-block;
    margin-left: 16px;
    padding: 0;

    &:first-child {
      margin-left: 0;
    }

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .col50 {
    position: relative;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;

    span {
      position: absolute;
      color: #fff;
      bottom: 10px;
      width: 100%;
      text-align: center;
    }

    img {
      width: 100%;
    }
  }

  button {
    border: none;
    background-color: transparent;
  }
}
