dio-app {
  a {
    text-decoration: none;
  }

  .mini-profile {
    display: flex;
    background-color: #3f51b5;
    color: #fff;

    .mini-profile__image {
      img {
        margin: 10px;
        height: 56px;
        width: 56px;
        border-radius: 50%;
      }
    }

    .mini-profile__info {
      flex: 1;

      * {
        padding: 0;
        margin: 0;
        line-height: 1em;
      }

      h3 {
        font-size: 20px;
        margin-top: 20px;
      }
    }
  }
}
