<xin-lazy-view-middleware></xin-lazy-view-middleware>
<xin-title-middleware></xin-title-middleware>

<ui-drawer id="drawer">
  <a href="#!/profile">
    <div class="mini-profile">
      <div class="mini-profile__image">
        <img src="../assets/images/profile/200x200jordan.png">
      </div>
      <div class="mini-profile__info">
        <h3>Michael Jordan</h3>
        <p>Member</p>
      </div>
    </div>
  </a>
  <div class="ui-list" id="menuList" style="height: 2px!important">
    <a class="ui-list__item" href="#!/">Home</a>
    <!-- <a class="ui-list__item" href="#!/forms">Forms</a>
    <a class="ui-list__item" href="#!/layouts">Layouts</a>
    <a class="ui-list__item" href="#!/profile">Profile</a>
    <a class="ui-list__item" href="#!/login">Logout</a>
    <a class="ui-list__item" href="#!/walkthrough">Walkthrough</a> -->
    <a class="ui-list__item" href="#!/data">Data User</a>

  </div>
</ui-drawer>

<xin-pager class="ui-layout ui-layout--v">
  <dio-walkthrough lazy-view uri="/walkthrough"></dio-walkthrough>
  <dio-login lazy-view uri="/login"></dio-login>
  <dio-register lazy-view uri="/register"></dio-register>
  <dio-home lazy-view uri="/"></dio-home>
  <dio-menu lazy-view uri="/forms" title="Forms" menus="[[formMenus]]"></dio-menu>
  <dio-menu lazy-view uri="/layouts" title="Layouts" menus="[[layoutMenus]]"></dio-menu>
  <dio-layouts lazy-view uri="/layouts"></dio-layouts>
  <dio-profile lazy-view uri="/profile"></dio-profile>
  <dio-data lazy-view uri="/data"></dio-data>

</xin-pager>
